:root {
   --paleta1:#46adf1;
}

:root {
   --paleta2:#4657f1;
}


:root {
   --paleta5:#f14658;
}

:root {
   --paleta6:#df46f1;
}




[id] {
    scroll-margin-top: 3.8em;
 }

 .tt{color:var(--paleta7);}
 
 h1{color:var(--paleta1)}
 h2{color:var(--paleta2) }
 h3{color:var(--paleta5) ;}
h4 h5 {color:var(--paleta6);}
h6{color:var(--paleta8)}

.a{color:var(--paleta6);}

.titulo{
   color:white;
}